header.header
  div.header-top
    div.header-top-publicity1
      figure.publicity1-banner
        img.publicity1-banner-img(src=publicity1Img[0], alt=publicity1Img[1])
      .publicity1-texts
        h3.publicity1-texts-title #{publicity1[0]}
        ul.publicity1-texts-list1
          li #{publicity1[1]}
          li #{publicity1[2]}
          li #{publicity1[3]}
        ul.publicity1-texts-list2
          li #{publicity1[4]}
          li #{publicity1[5]}
          li #{publicity1[6]}
    div.header-top-titles
      h1 #{headerTitles}
      div.header-top-titles-subtitles
        div
        span #{headerDate}
        div
    div.header-top-publicity2
      span.header-top-publicity2-title #{publicity2[0]}
      span.header-top-publicity2-textLeft #{publicity2[1]}
      span.header-top-publicity2-textRight #{publicity2[2]} #{publicity2[3]}
      figure.header-top-publicity2-imgBox
        img(src=publicity2Img[0], alt=publicity2Img[1])
  div.header-movies
    ul
      li
        span #{movies[0]}
        span #{movies[1]}
      li
        span #{movies[2]}
        span #{movies[3]}
      li
        span #{movies[4]}
        span #{movies[5]}
      li
        span #{movies[6]}
        span #{movies[7]}
      li
        span #{movies[8]}
        span #{movies[9]}
      li
        span #{movies[10]}
        span #{movies[11]}
  div.header-sections
    ul
      li
        img(src=headerSectionsImgs[0], alt="")
      li
        a #{headerSections[0]}
      li
        a #{headerSections[1]}
      li
        a #{headerSections[2]}
      li
        a #{headerSections[3]}
      li
        a #{headerSections[4]}
      li
        a #{headerSections[5]}
      li
        a #{headerSections[6]}
      li
        a #{headerSections[7]}
      li
        a #{headerSections[8]}
      li
        img(src=headerSectionsImgs[1], alt="")